.js-global-actions {
    line-height: 46px;
}

span.progress-count {
    height: 46px;
    font-size: 13px;
    vertical-align: middle;
}

.js-tweet-text > span.origin-tweet-content {
    display: none;
}

.js-tweet-text > img.irasutoya-tweet {
    display: inline;
}
